click==7.1.2
cycler==0.10.0
Flask==1.1.2
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.4
opencv-python==4.2.0.34
Pillow==9.0.1
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.8.1
six==1.15.0
Werkzeug==1.0.1
WTForms==2.3.1
