{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Visualization</h1>
</div>
<div id="Area"></div>
<style>
  .label{
  fill:black;
  font-family:"Times New Roman", Times, serif;
  font-size:12px;
}
</style>

<script src="https://d3js.org/d3.v4.js"></script>
<script>
  // set the dimensions and margins of the graph
  var margin = {top: 10, right: 30, bottom: 30, left: 60},
      width = 1260 - margin.left - margin.right,
      height = 300 - margin.top - margin.bottom;
  
  // append the svg object to the body of the page
  var svg = d3.select("#Area")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  var svg2 = d3.select("#Area")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  
  //Read the data
  d3.csv("/static/data/Data_Other3.csv",function(data) {
      console.log(data);
      console.log(d3.extent(data, function(d) { return +d.I; }));
      console.log(d3.extent(data, function(d) { return +d.S; }));
      console.log(d3.extent(data, function(d) { return +d.H; }));
      // Add X axis --> it is a date format
      var x = d3.scaleLinear()
        .domain(d3.extent(data, function(d) { return +d.I; }))
        //       .domain([0,400])
        .range([ 0, width ]);
      svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))
        .append("text").attr("class","label")
          .attr("x",width-15)
          .attr("y", -5)
          .style("text-anchor","middle")
          .text("Frame");
  
      // Add Y axis
      var y = d3.scaleLinear()
        .domain(d3.extent(data, function(d) { return +d.S; }))
        //       .domain([0,30000])
        .range([ height, 0 ]);
      svg.append("g")
        .call(d3.axisLeft(y))
        .append("text")
          .attr("class","label")
          .attr("x",20)
          .attr("y", 10)
          .style("text-anchor","middle")
          .text("Area");
  
      // Add the line
      svg.append("path")
        .datum(data)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
          .x(function(d) { return x(d.I) })
          .y(function(d) { return y(d.S) })
          )

    // Add X axis --> it is a date format
    //      var x = d3.scaleTime()
      var x = d3.scaleLinear()
        .domain(d3.extent(data, function(d) { return +d.I; }))
        //       .domain([0,400])
        .range([ 0, width ]);
      svg2.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))
        .append("text")
          .attr("class","label")
          .attr("x",width-15)
          .attr("y", -5)
          .style("text-anchor","middle")
          .text("Frame");

      // Add Y axis
      var y = d3.scaleLinear()
        .domain(d3.extent(data, function(d) { return +d.H; }))
        //       .domain([0,600])
        .range([ height, 0 ]);
      svg2.append("g")
        .call(d3.axisLeft(y))
        .append("text")
          .attr("class","label")
          .attr("x",20)
          .attr("y", 10)
          .style("text-anchor","middle")
          .text("Height");

      // Add the line
      svg2.append("path")
        .datum(data)
        .attr("fill", "none")
        .attr("stroke", "red")
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
          .x(function(d) { return x(d.I) })
          .y(function(d) { return y(d.H) })
          )
  })
  </script>


{% endblock %}
